.addCartButtonFlex{
    margin-top: auto;
  }
  
.addCartButtonProductPage{
    background: black;
    color: white;
    padding: 0.8rem;
    width:12rem;
    border: solid grey 0.15rem;
    margin: 1rem;
    border-radius: 0.4rem;
    visibility: hidden;
    cursor: pointer; 
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .addCartButtonProductPage:active{
    background: white;
    color: black;
  }
  