
.layOutChange{
    display: flex;
    background: grey;
    width: 20%;
    margin-left: 20rem;
    padding: 0.8rem;
    border-radius: 0.6rem;
    margin: 2%;
  }
  
  .layOutButton{
    width: 12rem;
    padding: 0.3rem;
    margin: 0.2rem;
    background-color: #6CB4EE;
    cursor: pointer; 
  }