*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html, body, #root{
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  background: url(../public/backgroundImage.jpg);
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.webContainer{
  display: flex;
}

.navbar{
  display: flex;
  background: white;
  color: black;
  width: 100%;
  padding: 0.4%;
  position: fixed; 
}

.leftNav{
  margin-top: 0.15rem;
  width: 100%;
}

.rightNav{
  width: 90%;
  margin-right: 2%;
  display: flex;
  justify-content: end;
}

.navbarInfo{
  margin-left: 3rem;
  padding: 0.2rem;
  border-radius: 0.2rem;
  border: solid black 0.3rem;
  cursor: pointer;
}

.pageUnderNavBar{
  display: flex;
  margin-top: 2.5%;
  width: 100%;
  height: 80%;
}

.rightSideOfPage{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-left: 13%;
  margin-right: -8%;
}

.layOutChange{
  display: flex;
  background: grey;
  width: 20%;
  margin-left: 20rem;
  padding: 0.8rem;
  border-radius: 0.6rem;
  margin: 2%;
}

.layOutButton{
  width: 12rem;
  padding: 0.3rem;
  margin: 0.2rem;
  background-color: #6CB4EE;
  cursor: pointer; 
}

.productListPadding{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}

.productList3{
  display: grid;
  grid-template-columns: auto auto auto;
  width: 70%;
}

.productList5{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  width: 80%;
}

.productBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: grey;
  border-radius: 2%;
  margin: 1.5rem;
  padding: 2%;
  line-height: 1.4rem;
  width: 14rem;
  height: 27rem;
  overflow: hidden;
}

.productBox:hover .addCartButtonProductPage{
  display: block;
}

.image{
  max-width: 100%;
  max-height: 100%;
  min-width: 6rem;
  min-height: 6rem;
}

.addCartButtonFlex{
  margin-top: auto;
}

.filterImageAndNameContainer{
  display: flex;
  flex-direction: column;
  width: 18%;
  margin-top: 2.5%;
  font-size: 1.5rem;
  line-height: 2.8rem;
  height: auto;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  bottom:0;
}

.rangePriceInputPadding{
  display: flex;
  flex-direction: column;
}

.rangePriceInput{
  padding: 0.4rem;
  margin: 0.3rem;
}

.cartButton{
  padding: 0.2rem;
  width:6rem;
  background:white;
  border-radius: 10%;
  cursor: pointer; 
}

.cartButtonPadding{
  margin-right: 15%;
}

.cartButtonProductPage{
  padding: 0.8rem;
  width:12rem;
  position: fixed;
  top: 0;
  right: 0;
  margin: 1%;
}

.searchBar{
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBarInput{
  border-radius: 6%;;
  padding:0.5rem;
  margin: 0.6rem;
}

.logo{
  width: 65%;
}

.logoProductPage{
  margin-top: 5%;
  width: 10%;
}

.shopName{
  font-size: 150%;
  margin-bottom: 3%;
  color: darkgrey;
}

.shopNameProductPage{
  font-size: 2rem;
  color: darkgrey;
}

.button{
  width: 1rem;
  height: 1rem;
  margin-right: auto;
  cursor: pointer; 
}

.buttonIsNotActive{
  width: 1rem;
  height: 1rem;
  border-radius: 0.4rem;
  margin-right: auto;
  cursor: pointer; 
}

.filterNames{
width: 80%
}

.buttonPadding{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productPage{
  height: 100%;
  width: 100%;
}

.nameAndLogoAllPages{
  height: 0%;
}

.webContainerProduct{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.productInfo{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 38rem;
  width:32rem;
  background: black;
  border-radius: 1rem;
  line-height: 2.3rem;
}

.descriptionPadding{
  width: 80%;
  height: 30%;
}

.errorChoice{
  color: red;
}

.webContainerCart{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  line-height: 4rem;
  font-size: 1.5rem;
}

.cartListContainer{
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
  background: black;
  border-radius: 2rem;
  line-height: 4rem;
  height: 26rem;
  width: 60rem;
  padding: 2rem;
  margin-top: 1rem;
}

.itemBox{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 7rem;
  margin-bottom: 1rem;
}

.leftSideCartContainer{
  width: 60%;
  height: 8rem;
}

.rightSideCartContainer{
  display: flex;
  justify-content: end;
  width: 40%;
}

.nameDescriptionFlex{
  display: flex;
  align-items: flex-start;
}

.nameAndDes{
  display: flex;
  flex-direction: column;
  line-height: 1.6rem;
  margin-left: 2rem;
}

.nameAndDesPadding{
  width: 27rem;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.itemDes{
  word-break: break-all;
}

.img{
  max-width: 10rem;
  max-height: 10rem;
  min-width: 6rem;
  margin-right: 1rem;
}

.imgPadding{
  height: 7rem;
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartPageDes{
  display: flex;
  flex-direction: row;
  width: 5rem;
  height: 5rem;
}

.checkOutButton{
  padding: 0.4rem;
  border-radius: 0.4rem;
  color: white;
  background: black;
  cursor: pointer; 
}

.checkOutButton:hover{
  color: black;
  background: white;
}

.addCartButtonPadding{
  padding: 0.8rem;
}

.addCartButton{
  background: black;
  color: white;
  padding: 0.8rem;
  width:12rem;
  border: solid grey 0.15rem;
  margin: 1rem;
  border-radius: 0.4rem;
  cursor: pointer; 
}

.addCartButtonProductPage{
  background: black;
  color: white;
  padding: 0.8rem;
  width:12rem;
  border: solid grey 0.15rem;
  margin: 1rem;
  border-radius: 0.4rem;
  display: none;
  cursor: pointer; 
}

.addCartButton:active{
  background: white;
  color: black;
}

.addCartButtonProductPage:active{
  background: white;
  color: black;
}

.itemButton{
  background: black;
  color: white;
  font-size: 1.2rem;
  height: 2.5rem;
  width: 2.5rem;
  border: solid grey 0.15rem;
  border-radius: 0.3rem;
  margin: 0.5rem;
  align-self: end;
  cursor: pointer; 
}

.itemButton:active{
  background: white;
  color: black;
}

.priceOfItem{
  padding-left: 0.3rem;
  width: 6rem;
  margin-bottom: auto;
}

.amountOfItem{
  padding: 0.6rem;
  margin: 0.6rem;
  border: solid grey 0.15rem;
  border-radius: 0.3rem;
}

.productAmount{
  margin: 0.4rem;
}

.itemInput{
  background: black;
  color: white;
  padding: 0.6rem;
  margin: 0.3rem;
}

.linkToHomePage{
  color:white;
  border-bottom: solid white;
}

.popUpBackground{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(49, 49, 49, 0.8);
}

.popUp{
  height: 39rem;
  width: 70rem;
  background-color: grey;
  border-radius: 1rem;
  overflow-y: auto;
}

.checkUutBox{
  display: grid;
  grid-template-columns: auto auto auto;
}

.checkOutBoxItem{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 6rem;
}

.checkOutButtonPadding{
display: flex;
justify-content: center;
margin: 1rem;
}

.sortBy{
  margin-left: 5%;
}

.priceSort, .dateSort, .categories{
  background: rgb(166, 163, 163);
  width: 80%;
  margin: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 3%;
  padding: 3%;
}